# **Medical Dataset Analysis: Python, SQL, and Insight**
---
## **Overview**

The mission of this project is to analyze and derive actionable insights from healthcare data by integrating Python-based data cleaning with SQL-driven analysis. Using hospitalization details, medical examinations, and patient information, the project aims to ensure high-quality data and extract meaningful patterns that support informed healthcare decision-making and efficient resource optimization. It is structured into two key modules, beginning with comprehensive data cleaning to ensure accuracy, consistency, and proper structure. With a high-quality dataset in place, the second module leverages SQL queries to uncover meaningful insights. This work represents more than a technical exercise, it is a transformative journey into the practical application of medical dataset analysis.

---

## **Objectives**

- Exploratory analysis from medical datasets
- Identifying trends in hospitalization charges and patient health profiles
- Analyzing relationship between BMI, smoking and healthcare costs
- determining peak of healthcare demand

---

#### Module 1
#### Task 1: Loading Hospitalization Details
In this step, we import hospitalization data from the hospitalisation_details.csv file into a Pandas DataFrame called hosp_details. This process is a critical component of our new project, as it establishes the foundational dataset upon which all subsequent analyses and insights are built.

In [30]:
#--- Import Library ----
import pandas as pd
import numpy as np
import mysql.connector
from tabulate import tabulate

In [32]:
# Load the hospitalization dataset
hosp_details= pd.read_csv('hospitalisation_details.csv')
#--- Inspect data ----
hosp_details.head()

,c_id,yr,mth,date?,children?,charges?,host_tier,Ct_tier,st_id,Has_Children,Is_Frequent_Treatment
0,Id2335,1992,Jul,9,0,563.84,tier - 2,tier - 3,R1013,no,no
1,Id2334,1992,Nov,30,0,570.62,tier - 2,tier - 1,R1013,no,no
2,Id2333,1993,NaN,30,0,600.00,tier - 2,tier - 1,R1013,no,no
3,Id2332,1992,Sep,13,0,604.54,tier - 3,tier - 3,R1013,no,no
4,Id2331,1998,Jul,27,0,637.26,tier - 3,tier - 3,R1013,no,no

#### Task 2: Identifying and removing Null Values in Hospitalization Details
In this step, we examine the hosp_details dataset to identify and quantify missing values. This process is a vital part of the project, as it provides insight into the completeness of the data. Understanding and addressing null values is essential for maintaining data quality and ensuring the reliability of subsequent analyses and insights.

In [33]:
null_values = hosp_details.isnull().sum()
#--- Inspect data ----
null_values

c_id                     0
yr                       0
mth                      1
date?                    0
children?                0
charges?                 0
host_tier                0
Ct_tier                  0
st_id                    0
Has_Children             0
Is_Frequent_Treatment    0
dtype: int64

In [34]:
#--- Remove the null values ----
hosp_details.dropna(inplace=True)
#--- Inspect data ----
hosp_details.isnull().sum()

c_id                     0
yr                       0
mth                      0
date?                    0
children?                0
charges?                 0
host_tier                0
Ct_tier                  0
st_id                    0
Has_Children             0
Is_Frequent_Treatment    0
dtype: int64

#### Task 3: Inspecting Data Types in Hospitalization Details
In this task, we identify the data types of the columns in the hosp_details dataset. This step is essential for effective data analysis, as it reveals how each variable is structured, whether as numeric, categorical, date/time, or text. A clear understanding of data types ensures accurate interpretation and efficient handling of the dataset throughout the analysis process.

In [35]:
datatype = hosp_details.dtypes
datatype

c_id                      object
yr                         int64
mth                       object
date?                      int64
children?                  int64
charges?                 float64
host_tier                 object
Ct_tier                   object
st_id                     object
Has_Children              object
Is_Frequent_Treatment     object
dtype: object

#### Task 4: Identifying Duplicate Data in Hospitalization Details
In this task, we identify and quantify duplicate records within the hosp_details dataset. The number of duplicates serves as a key metric for assessing data redundancy, which directly impacts data quality and analytical accuracy. Detecting and addressing duplicate entries ensures that subsequent analyses are based on unique and meaningful records, thereby preventing biased or misleading insights caused by repeated data.

In [6]:
duplicates = hosp_details.duplicated().sum()
duplicates

89

#### Task 5: Data Preprocessing and Cleaning for Hospitalization Details
In this task, we conduct data preprocessing and cleaning on the hosp_details dataset to ensure data quality and reliability. The process begins with the removal of duplicate records, followed by the elimination of non-essential columns—Has_Children and Is_Frequent_Treatment—that are not relevant to the analysis. We then rename selected columns to enhance clarity and interpretability. Finally, the cleaned dataset is saved as hospitalisation_details_cleaned.csv. This preprocessing phase is critical to the project, as it ensures that all subsequent analyses are performed on accurate, consistent, and meaningful data.

In [36]:
# Remove duplicate rows from dataFrame hosp_details
hosp_details = hosp_details.drop_duplicates()
#--- Inspect data ----
hosp_details.duplicated().sum()

0

In [37]:
# drop the columns "Has_Children" and "Is_Frequent_Treatment".
hosp_details = hosp_details.drop(['Has_Children', 'Is_Frequent_Treatment'], axis=1)
#--- Inspect data ----
hosp_details.head()

     c_id    yr  mth  date?  children?  charges? host_tier   Ct_tier  st_id
0  Id2335  1992  Jul      9          0    563.84  tier - 2  tier - 3  R1013
1  Id2334  1992  Nov     30          0    570.62  tier - 2  tier - 1  R1013
3  Id2332  1992  Sep     13          0    604.54  tier - 3  tier - 3  R1013
4  Id2331  1998  Jul     27          0    637.26  tier - 3  tier - 3  R1013
5  Id2330  2001  Nov     20          0    646.14  tier - 3  tier - 3  R1012

In [38]:
#--- Create the 'namer' dictionary ----
namer = {
    'c_id': 'customer_id',
    'yr': 'year',
    'mth': 'month',
    'date?': 'date',
    'children?': 'children',
    'charges?': 'charges',
    'host_tier': 'hospital_tier',
    'Ct_tier': 'city_tier',
    'st_id': 'state_id'
}
#--- Rename the columns of the DataFrame hosp_details according to the mapping in new_columns ----
hosp_details = hosp_details.rename(columns=namer)
hosp_details.head()

,customer_id,year,month,date,children,charges,hospital_tier,city_tier,state_id
0,Id2335,1992,Jul,9,0,563.84,tier - 2,tier - 3,R1013
1,Id2334,1992,Nov,30,0,570.62,tier - 2,tier - 1,R1013
3,Id2332,1992,Sep,13,0,604.54,tier - 3,tier - 3,R1013
4,Id2331,1998,Jul,27,0,637.26,tier - 3,tier - 3,R1013
5,Id2330,2001,Nov,20,0,646.14,tier - 3,tier - 3,R1012

In [63]:
#--- Save the cleaned DataFrame hosp_details to a CSV file without the index ----
hosp_details.to_csv('hospitalisation_details_cleaned.csv', index= False)

#### Task 6: Loading Medical Examination Data
In this task, we import medical examination data from the medical_examinations.csv file into a Pandas DataFrame called med_exam. This step is a key component of the project, “Medical Dataset Analysis: Python, SQL, and Insights,” as it establishes the foundational dataset required for subsequent analyses and insight generation.

In [49]:
#--- Load the medical examination data ----
med_exam = pd.read_csv('medical_examinations.csv')
#--- Inspect data ----
med_exam.head()

,cid,b_m_i,HBA1C,h_Issues,any_transplant,cancer_hist,noofmajorsurgeries,smoker??,recovery_period
0,Id1,47.410,7.47,No,No,No,No major surgery,yes,NaN
1,Id2,30.360,5.77,No,No,No,No major surgery,yes,NaN
2,Id3,34.485,11.87,yes,No,No,2,yes,Moderate
3,Id4,38.095,6.05,No,No,No,No major surgery,yes,NaN
4,Id5,35.530,5.45,No,No,No,No major surgery,yes,NaN

#### Task 7: Identifying Null Values in Medical Examination Data
In this task, we assess the med_exam dataset to identify and quantify missing values. This process is essential for understanding the extent of incomplete data and for maintaining high data quality. Properly recognizing and addressing null values helps ensure the accuracy, reliability, and validity of subsequent analyses and insights.

In [50]:
null_values = med_exam.isnull().sum()
null_values

cid                      0
b_m_i                    0
HBA1C                    0
h_Issues                 0
any_transplant           0
cancer_hist              0
noofmajorsurgeries       0
smoker??                 0
recovery_period       1096
dtype: int64

#### Task 8: Inspecting Data Types in Medical Examination Data
In this task, we examine the data types of each column in the med_exam dataset. This process is critical for effective data analysis, as it reveals how the data is stored and guides the selection of appropriate analytical and preprocessing techniques. A clear understanding of column data types ensures efficient and accurate handling of the dataset.

In [51]:
datatype = med_exam.dtypes
datatype

cid                    object
b_m_i                 float64
HBA1C                 float64
h_Issues               object
any_transplant         object
cancer_hist            object
noofmajorsurgeries     object
smoker??               object
recovery_period        object
dtype: object

#### Task 9: Identifying Duplicates Data in Medical Examination Data
In this task, we identify and quantify duplicate records within the med_exam dataset. The number of duplicates serves as a key indicator of data redundancy, which directly affects data quality and analytical accuracy. Detecting and addressing duplicate entries ensures that subsequent analyses are based on unique and meaningful observations, thereby preventing biased or misleading conclusions caused by repeated data.

In [52]:
duplicates = med_exam.duplicated().sum()
duplicates

39

#### Task 10: Data Processing and Cleaning for Medical Examination Data
In this task, we carry out data preprocessing and cleaning on the med_exam dataset to ensure accuracy and consistency. The process begins with the removal of duplicate records, followed by the elimination of the recovery_period column, which is not required for the analysis. We then rename selected columns to enhance clarity and interpretability. Finally, the cleaned dataset is saved as medical_examinations_cleaned.csv. This preprocessing phase is essential to the project, as it ensures that all subsequent analyses are conducted using accurate, reliable, and meaningful data.

In [54]:
# Remove duplicate rows from the med_exam dataset ----
med_exam = med_exam.drop_duplicates()
#--- Inspect data ----
med_exam.duplicated().sum()

0

In [55]:
# drop the column "recovery_period" from med_exam dataset ----
med_exam = med_exam.drop(['recovery_period'], axis= 1)

In [56]:
#--- Replace all occurrences of "no major surgery" with 0 in the 'noofmajorsurgeries' column
med_exam['noofmajorsurgeries'] = med_exam['noofmajorsurgeries'].replace('No major surgery', 0)

In [57]:
# Rename the columns of the DataFrame med_exam as follows
namer = {
    'cid' : 'customer_id',
    'b_m_i' : 'BMI',
    'h_Issues' : 'health_issues',
    'cancer_hist' : 'cancer_history',
    'noofmajorsurgeries' : 'numberofmajorsurgeries',
    'smoker??' : 'smoker'
}
med_exam = med_exam.rename(columns=namer)
med_exam.head()

,customer_id,BMI,HBA1C,health_issues,any_transplant,cancer_history,numberofmajorsurgeries,smoker
0,Id1,47.410,7.47,No,No,No,0,yes
1,Id2,30.360,5.77,No,No,No,0,yes
2,Id3,34.485,11.87,yes,No,No,2,yes
3,Id4,38.095,6.05,No,No,No,0,yes
4,Id5,35.530,5.45,No,No,No,0,yes

In [64]:
# Save the cleaned med_exam dataset to a CSV file named medical_examinations_cleaned.csv without including the index
med_exam.to_csv('medical_examinations_cleaned.csv', index= False)

#### Module 2
#### Task 1: Data Download, Import, and Database Connection
We will begin by loading the necessary SQL libraries and establishing a connection to the MySQL database. To load the data, we will use MySQL Workbench. First, log in to your local MySQL instance. Once connected, create a new schema to house your table. After the schema is set up, you can use the Table Data Import Wizard in MySQL Workbench to load your CSV file. During the import process, Workbench will prompt you to specify the data type for each column. To create the connection with your database, you should specified the hostname, username, password and database name from MySQL Workbench.

In [67]:
conn = mysql.connector.connect(
    host= "localhost",
    database= "medical_dataset",
    user = "root",
    password= "password"
)
cursor = conn.cursor()

In [68]:
def f(query):
    cursor.execute(query)
    rows = cursor.fetchall()
    headers = [col[0] for col in cursor.description]
    print(tabulate(rows, headers=headers, tablefmt="grid"))

In [69]:
#--- Inspect Hospitalization Details Data after establishing the connection ----
f(""" SELECT * FROM hospitalisation_details LIMIT 5; """)

+---------------+--------+---------+--------+------------+-----------+-----------------+-------------+------------+
| customer_id   |   year | month   |   date |   children |   charges | hospital_tier   | city_tier   | state_id   |
+===============+========+=========+========+============+===========+=================+=============+============+
| Id2335        |   1992 | Jul     |      9 |          0 |    563.84 | tier - 2        | tier - 3    | R1013      |
+---------------+--------+---------+--------+------------+-----------+-----------------+-------------+------------+
| Id2334        |   1992 | Nov     |     30 |          0 |    570.62 | tier - 2        | tier - 1    | R1013      |
+---------------+--------+---------+--------+------------+-----------+-----------------+-------------+------------+
| Id2332        |   1992 | Sep     |     13 |          0 |    604.54 | tier - 3        | tier - 3    | R1013      |
+---------------+--------+---------+--------+------------+-----------+-----------------+-------------+------------+
| Id2331        |   1998 | Jul     |     27 |          0 |    637.26 | tier - 3        | tier - 3    | R1013      |
+---------------+--------+---------+--------+------------+-----------+-----------------+-------------+------------+
| Id2330        |   2001 | Nov     |     20 |          0 |    646.14 | tier - 3        | tier - 3    | R1012      |
+---------------+--------+---------+--------+------------+-----------+-----------------+-------------+------------+

In [70]:
#--- Inspect Medical Examination Data after establishing the connection ----
f(""" SELECT * FROM medical_examinations LIMIT 5; """)

+---------------+--------+---------+-----------------+------------------+------------------+--------------------------+----------+
| customer_id   |    BMI |   HBA1C | health_issues   | any_transplant   | cancer_history   |   numberofmajorsurgeries | smoker   |
+===============+========+=========+=================+==================+==================+==========================+==========+
| Id1           | 47.41  |    7.47 | No              | No               | No               |                        0 | yes      |
+---------------+--------+---------+-----------------+------------------+------------------+--------------------------+----------+
| Id2           | 30.36  |    5.77 | No              | No               | No               |                        0 | yes      |
+---------------+--------+---------+-----------------+------------------+------------------+--------------------------+----------+
| Id3           | 34.485 |   11.87 | yes             | No               | No               |                        2 | yes      |
+---------------+--------+---------+-----------------+------------------+------------------+--------------------------+----------+
| Id4           | 38.095 |    6.05 | No              | No               | No               |                        0 | yes      |
+---------------+--------+---------+-----------------+------------------+------------------+--------------------------+----------+
| Id5           | 35.53  |    5.45 | No              | No               | No               |                        0 | yes      |
+---------------+--------+---------+-----------------+------------------+------------------+--------------------------+----------+

#### Task 2: Average Hospital Charges Analysis
This task aims to analyze medical data to calculate the average hospital charges, providing key insights into healthcare cost patterns. Understanding these cost trends supports informed financial planning, promotes cost optimization, and enhances transparency for both healthcare providers and patients.

In [72]:
f(""" 
    select avg(charges) as avg_charges
    from hospitalisation_details;
  """)

+---------------+
|   avg_charges |
+===============+
|       13564.6 |
+---------------+

#### Task 3: High Charges Analysis
This task focuses on extracting unique customer identifiers, corresponding years, and hospital charges from a medical dataset, specifically targeting records where charges exceed 700. Analyzing these high-cost cases provides valuable insight into instances of exceptionally high hospital expenses and supports further investigation, cost control initiatives, and patient financial assistance strategies.

In [74]:
f("""
   select customer_id, year, charges
   from hospitalisation_details
   where charges >700
   limit 10;
   """)

+---------------+--------+-----------+
| customer_id   |   year |   charges |
+===============+========+===========+
| Id2323        |   1999 |    722.99 |
+---------------+--------+-----------+
| Id2322        |   2002 |    750    |
+---------------+--------+-----------+
| Id2321        |   1993 |    760    |
+---------------+--------+-----------+
| Id2320        |   1996 |    760    |
+---------------+--------+-----------+
| Id2319        |   1993 |    770    |
+---------------+--------+-----------+
| Id2318        |   1996 |    770.38 |
+---------------+--------+-----------+
| Id2317        |   1995 |    773.54 |
+---------------+--------+-----------+
| Id2316        |   2004 |    830.52 |
+---------------+--------+-----------+
| Id2315        |   2000 |    865.41 |
+---------------+--------+-----------+
| Id2314        |   1993 |    896.21 |
+---------------+--------+-----------+

#### Task 4: High BMI Patients Analysis
This task aims to extract the names, years, and hospital charges of patients with a Body Mass Index (BMI) greater than 35 from a medical dataset. Analyzing healthcare costs for this high-BMI group provides valuable insights into associated cost patterns, supports the identification of health trends, and informs patient care management and medical expense optimization.

In [75]:
f("""
   select n.name, hd.year, hd.charges, me.BMI
   from names as n
   inner join hospitalisation_details as hd on n.customer_id = hd.customer_id
   inner join medical_examinations as me on hd.customer_id = me.customer_id
   where BMI >35
   limit 10;
   """)

+--------------------------------+--------+-----------+-------+
| name                           |   year |   charges |   BMI |
+================================+========+===========+=======+
| Albertson, Mr.  Mark P.        |   2004 |   1141.45 | 37.29 |
+--------------------------------+--------+-----------+-------+
| Montoya, Mr.  Alvaro Sr.       |   2004 |   1146.8  | 41.14 |
+--------------------------------+--------+-----------+-------+
| Luy, Mr.  David                |   2004 |   1149.4  | 43.01 |
+--------------------------------+--------+-----------+-------+
| Boulay, Mr.  Pierre            |   2004 |   1163.46 | 53.13 |
+--------------------------------+--------+-----------+-------+
| Johnson, Mr.  Ryan C.          |   2003 |   1263.25 | 35.4  |
+--------------------------------+--------+-----------+-------+
| Lawder, Mr.  Matthew T.        |   2001 |   1532.47 | 35.53 |
+--------------------------------+--------+-----------+-------+
| Sanseverino, Mr.  Cole         |   2001 |   1534.3  | 36.85 |
+--------------------------------+--------+-----------+-------+
| Freeman, Ms.  Jennifer A.      |   2004 |   1629.83 | 36.85 |
+--------------------------------+--------+-----------+-------+
| Prince, Ms.  Dani              |   2004 |   1631.67 | 38.17 |
+--------------------------------+--------+-----------+-------+
| Ytterstad, Ms.  Nina Wavik Sr. |   2004 |   1631.82 | 38.28 |
+--------------------------------+--------+-----------+-------+

#### Task 5: Customers with major surgeries
This task aims to identify customer IDs and names of individuals who have undergone major surgical procedures, based on records from the medical_examinations and names tables. Analyzing this subset of patients provides valuable insights into populations with a history of major surgery, supporting healthcare planning, risk assessment, and targeted medical follow-up.

In [76]:
f("""
   select n.customer_id, n.name, me.numberofmajorsurgeries
   from names as n 
   inner join medical_examinations as me
   on n.customer_id = me.customer_id
   where numberofmajorsurgeries >=1
   limit 10;
   """)

+---------------+----------------------------------+--------------------------+
| customer_id   | name                             |   numberofmajorsurgeries |
+===============+==================================+==========================+
| Id3           | Lu, Mr.  Phil                    |                        2 |
+---------------+----------------------------------+--------------------------+
| Id8           | Hallman, Mr.  Stephen            |                        3 |
+---------------+----------------------------------+--------------------------+
| Id9           | Moran, Mr.  Patrick R.           |                        1 |
+---------------+----------------------------------+--------------------------+
| Id11          | Fierro Vargas, Ms.  Paola Andrea |                        2 |
+---------------+----------------------------------+--------------------------+
| Id15          | Rios, Ms.  Leilani M.            |                        2 |
+---------------+----------------------------------+--------------------------+
| Id17          | Cronin, Ms.  Jennifer A.         |                        3 |
+---------------+----------------------------------+--------------------------+
| Id18          | Noordstar, Ms.  Christina M.     |                        1 |
+---------------+----------------------------------+--------------------------+
| Id19          | Boudalia, Mr.  Said Sr.          |                        1 |
+---------------+----------------------------------+--------------------------+
| Id21          | Fennon, Mr.  Myles               |                        2 |
+---------------+----------------------------------+--------------------------+
| Id22          | Hribar, Ms.  Madelyn C           |                        2 |
+---------------+----------------------------------+--------------------------+

#### Task 6: Average Charges per Hospital Tier in 2000
This task aims to calculate the average hospital charges by hospital tier for the year 2000 using data from the hospitalization_details table. By examining charge variations across hospital tiers, the analysis provides insights into cost disparities and potential differences in healthcare quality, supporting informed decision-making regarding healthcare facilities and associated costs.

In [78]:
f("""
   select year, hospital_tier, avg(charges) as average_charges
   from hospitalisation_details
   where year =2000
   group by hospital_tier;
   """)

+--------+-----------------+-------------------+
|   year | hospital_tier   |   average_charges |
+========+=================+===================+
|   2000 | tier - 3        |           4673.12 |
+--------+-----------------+-------------------+
|   2000 | tier - 2        |           8915.94 |
+--------+-----------------+-------------------+
|   2000 | tier - 1        |          35367.4  |
+--------+-----------------+-------------------+

#### Task 7: Smoking Patients with Transplants Analysis
This task aims to retrieve customer IDs, BMI, and hospital charges for patients who are smokers and have undergone a transplant, by integrating data from the medical_examinations and hospitalization_details tables. Analyzing this subset enables us to explore the healthcare costs and health profiles associated with individuals who have both a history of smoking and transplant procedures.

In [81]:
f("""
   select me.customer_id, me.smoker, me.BMI, me.any_transplant, hd.charges
   from medical_examinations as me 
   inner join hospitalisation_details as hd
   on me.customer_id = hd.customer_id
   where smoker = 'Yes' and any_transplant = 'Yes';
   """)

+---------------+----------+--------+------------------+-----------+
| customer_id   | smoker   |    BMI | any_transplant   |   charges |
+===============+==========+========+==================+===========+
| Id824         | yes      | 17.29  | yes              |   12829.5 |
+---------------+----------+--------+------------------+-----------+
| Id742         | yes      | 21.565 | yes              |   13747.9 |
+---------------+----------+--------+------------------+-----------+
| Id707         | yes      | 21.66  | yes              |   14283.5 |
+---------------+----------+--------+------------------+-----------+
| Id575         | yes      | 27.36  | yes              |   17178.7 |
+---------------+----------+--------+------------------+-----------+
| Id543         | yes      | 27.28  | yes              |   18223.5 |
+---------------+----------+--------+------------------+-----------+
| Id428         | yes      | 25.71  | yes              |   24294   |
+---------------+----------+--------+------------------+-----------+
| Id399         | yes      | 27.79  | yes              |   26027   |
+---------------+----------+--------+------------------+-----------+
| Id394         | yes      | 32.06  | yes              |   26316.6 |
+---------------+----------+--------+------------------+-----------+
| Id391         | yes      | 32.54  | yes              |   26479.4 |
+---------------+----------+--------+------------------+-----------+
| Id386         | yes      | 30.86  | yes              |   26937   |
+---------------+----------+--------+------------------+-----------+
| Id315         | yes      | 43.5   | yes              |   30328.3 |
+---------------+----------+--------+------------------+-----------+
| Id304         | yes      | 46.06  | yes              |   31196.6 |
+---------------+----------+--------+------------------+-----------+
| Id303         | yes      | 43.53  | yes              |   31234.6 |
+---------------+----------+--------+------------------+-----------+
| Id257         | yes      | 31.73  | yes              |   33732.7 |
+---------------+----------+--------+------------------+-----------+
| Id254         | yes      | 51.18  | yes              |   33829.4 |
+---------------+----------+--------+------------------+-----------+
| Id252         | yes      | 30.4   | yes              |   33907.6 |
+---------------+----------+--------+------------------+-----------+
| Id235         | yes      | 33.535 | yes              |   34617.8 |
+---------------+----------+--------+------------------+-----------+
| Id211         | yes      | 35.6   | yes              |   35585.6 |
+---------------+----------+--------+------------------+-----------+
| Id210         | yes      | 31.02  | yes              |   35595.6 |
+---------------+----------+--------+------------------+-----------+
| Id199         | yes      | 36.85  | yes              |   36149.5 |
+---------------+----------+--------+------------------+-----------+
| Id194         | yes      | 38.17  | yes              |   36307.8 |
+---------------+----------+--------+------------------+-----------+
| Id170         | yes      | 37.62  | yes              |   37165.2 |
+---------------+----------+--------+------------------+-----------+
| Id163         | yes      | 37.07  | yes              |   37484.4 |
+---------------+----------+--------+------------------+-----------+
| Id137         | yes      | 42.24  | yes              |   38792.7 |
+---------------+----------+--------+------------------+-----------+
| Id41          | yes      | 52.58  | yes              |   44501.4 |
+---------------+----------+--------+------------------+-----------+

#### Task 8: Patients with Major Surgeries or Cancer History
In this task, we retrieve the names of customers who have either undergone at least two major surgeries or have a documented history of cancer, as recorded in the medical_examinations table. This analysis helps identify individuals with complex medical histories, allowing healthcare providers to develop personalized care plans, prioritize follow-up interventions, and better anticipate associated healthcare costs—ultimately supporting more proactive and effective patient management.

In [82]:
f("""
   select n.name, me.numberofmajorsurgeries, me.cancer_history
   from names as n
   inner join medical_examinations as me
   on n.customer_id = me.customer_id
   where numberofmajorsurgeries >=2 or cancer_history ='Yes'
   limit 10;
   """)

+----------------------------------+--------------------------+------------------+
| name                             |   numberofmajorsurgeries | cancer_history   |
+==================================+==========================+==================+
| Lu, Mr.  Phil                    |                        2 | No               |
+----------------------------------+--------------------------+------------------+
| Hallman, Mr.  Stephen            |                        3 | No               |
+----------------------------------+--------------------------+------------------+
| Moran, Mr.  Patrick R.           |                        1 | Yes              |
+----------------------------------+--------------------------+------------------+
| Fierro Vargas, Ms.  Paola Andrea |                        2 | No               |
+----------------------------------+--------------------------+------------------+
| Rios, Ms.  Leilani M.            |                        2 | No               |
+----------------------------------+--------------------------+------------------+
| Cronin, Ms.  Jennifer A.         |                        3 | No               |
+----------------------------------+--------------------------+------------------+
| Noordstar, Ms.  Christina M.     |                        1 | Yes              |
+----------------------------------+--------------------------+------------------+
| Fennon, Mr.  Myles               |                        2 | No               |
+----------------------------------+--------------------------+------------------+
| Hribar, Ms.  Madelyn C           |                        2 | No               |
+----------------------------------+--------------------------+------------------+
| Tassello, Ms.  Nicole            |                        3 | No               |
+----------------------------------+--------------------------+------------------+

#### Task 9: Customer with Most Major Surgeries
In this task, we identify and display the customer with the highest number of major surgeries by joining the names and medical_examinations tables and sorting records in descending order based on the count of major surgeries. This approach highlights the individual with the most extensive surgical history, providing a critical insight for personalized care planning, risk assessment, and efficient allocation of healthcare resources.

In [84]:
f("""
  select n.customer_id, n.name, me.numberofmajorsurgeries
  from names as n
  inner join medical_examinations as me
  on n.customer_id = me.customer_id
  order by numberofmajorsurgeries desc
  limit 1;
  """)

+---------------+--------------------------+--------------------------+
| customer_id   | name                     |   numberofmajorsurgeries |
+===============+==========================+==========================+
| Id17          | Cronin, Ms.  Jennifer A. |                        3 |
+---------------+--------------------------+--------------------------+

#### Task 10: Customers with Major Surgeries and City Tiers
In this task, we compile a list of customers who have undergone major surgeries along with the tier levels of their respective cities (city_tier) from the hospitalization_details table. By linking surgical records to urban classification tiers, this analysis reveals how major surgical procedures are distributed across different city tiers.

In [85]:
f("""
   select n.name, me.numberofmajorsurgeries, hd.city_tier
   from names as n
   inner join medical_examinations as me on n.customer_id = me.customer_id
   inner join hospitalisation_details as hd on me.customer_id = hd.customer_id
   where numberofmajorsurgeries >=1
   limit 10;
   """)

+------------------------------------+--------------------------+-------------+
| name                               |   numberofmajorsurgeries | city_tier   |
+====================================+==========================+=============+
| German, Mr.  Aaron K               |                        1 | tier - 3    |
+------------------------------------+--------------------------+-------------+
| Rosendahl, Mr.  Evan P             |                        1 | tier - 1    |
+------------------------------------+--------------------------+-------------+
| Riveros Gonzalez, Mr.  Juan D. Sr. |                        1 | tier - 3    |
+------------------------------------+--------------------------+-------------+
| Brietzke, Mr.  Jordan              |                        1 | tier - 3    |
+------------------------------------+--------------------------+-------------+
| Bohinski, Ms.  Susan E             |                        1 | tier - 3    |
+------------------------------------+--------------------------+-------------+
| Avery, Ms.  Nicole                 |                        1 | tier - 3    |
+------------------------------------+--------------------------+-------------+
| Castro, Mr.  Sebastian             |                        1 | tier - 3    |
+------------------------------------+--------------------------+-------------+
| Danielson, Mr.  Thomas             |                        1 | tier - 1    |
+------------------------------------+--------------------------+-------------+
| Petermann, Mr.  Theodore A.        |                        1 | tier - 3    |
+------------------------------------+--------------------------+-------------+
| Murakami, Mr.  Koji                |                        1 | tier - 2    |
+------------------------------------+--------------------------+-------------+

#### Task 11: Average BMI by City Tier in 1995
This task aims to calculate the average Body Mass Index (BMI) for each city tier level in the year 1995 using data from the hospitalization_details table. By comparing average BMI across different urban classifications, we gain insights into how health indicators vary by city tier—potentially reflecting differences in lifestyle, access to healthcare, or socioeconomic factors.

In [86]:
f("""
  select hd.year, hd.city_tier, avg(me.BMI) as average_BMI
  from hospitalisation_details as hd
  inner join medical_examinations as me on hd.customer_id = me.customer_id
  where year =1995
  group by city_tier;
  """)

+--------+-------------+---------------+
|   year | city_tier   |   average_BMI |
+========+=============+===============+
|   1995 | tier - 3    |       30.6857 |
+--------+-------------+---------------+
|   1995 | tier - 2    |       29.4324 |
+--------+-------------+---------------+
|   1995 | tier - 1    |       29.8187 |
+--------+-------------+---------------+

#### Task 12: High BMI Customers with Health Issues
In this task, we extract customer IDs, names, and hospital charges for individuals who have documented health issues and a Body Mass Index (BMI) greater than 30. By integrating data from the names, medical_examinations, and hospitalization_details tables, we identify patients with both elevated BMI and underlying health conditions.

In [87]:
f("""
   select n.customer_id, n.name, hd.charges, me.health_issues, me.BMI 
   from names as n
   inner join medical_examinations as me on n.customer_id = me.customer_id
   inner join hospitalisation_details as hd on me.customer_id = hd.customer_id
   where BMI >30 and health_issues ='Yes'
   limit 10;
   """)

+---------------+-------------------------+-----------+-----------------+--------+
| customer_id   | name                    |   charges | health_issues   |    BMI |
+===============+=========================+===========+=================+========+
| Id2223        | Young, Mr.  Zachary     |   1526.31 | yes             | 31.1   |
+---------------+-------------------------+-----------+-----------------+--------+
| Id2222        | Lawder, Mr.  Matthew T. |   1532.47 | yes             | 35.53  |
+---------------+-------------------------+-----------+-----------------+--------+
| Id2221        | Sanseverino, Mr.  Cole  |   1534.3  | yes             | 36.85  |
+---------------+-------------------------+-----------+-----------------+--------+
| Id2155        | Waters, Mr.  Brian W.   |   1909.53 | yes             | 31.255 |
+---------------+-------------------------+-----------+-----------------+--------+
| Id2154        | Lutz, Mr.  Zachary A    |   1917.32 | yes             | 36.86  |
+---------------+-------------------------+-----------+-----------------+--------+
| Id2143        | Deiman, Ms.  Lena       |   2020.18 | yes             | 34.6   |
+---------------+-------------------------+-----------+-----------------+--------+
| Id2142        | Putt, Ms.  Tammy        |   2020.55 | yes             | 34.87  |
+---------------+-------------------------+-----------+-----------------+--------+
| Id2141        | De Hueck, Ms.  Jennifer |   2026.97 | yes             | 39.49  |
+---------------+-------------------------+-----------+-----------------+--------+
| Id2139        | Gamirov, Mr.  Arthur    |   2055.32 | yes             | 32.11  |
+---------------+-------------------------+-----------+-----------------+--------+
| Id2102        | Goetz, Mr.  Justin      |   2254.8  | yes             | 31.73  |
+---------------+-------------------------+-----------+-----------------+--------+

#### Task 13: Customers with Highest Charges and City Tier by Year
In this task, we identify the customer with the highest total hospital charges for each year and display their corresponding city_tier. By joining the hospitalization_details and names tables and grouping the data by year, customer name, and city_tier, we pinpoint the top-spending individual annually. This analysis reveals high-cost outliers over time and contextualizes them within urban classification tiers, offering valuable insights into evolving healthcare expenditure patterns.

In [92]:
f("""
select hd.year, n.name, hd.city_tier, hd.charges as max_charges
from names n
inner join hospitalisation_details hd ON n.customer_id = hd.customer_id
where (hd.year, hd.charges) in (
    select year, max(charges)
    from hospitalisation_details
    group by year
)
order by hd.year
limit 10;
""")

+--------+----------------------------------+-------------+---------------+
|   year | name                             | city_tier   |   max_charges |
+========+==================================+=============+===============+
|   1958 | Hallman, Mr.  Stephen            | tier - 2    |       49577.7 |
+--------+----------------------------------+-------------+---------------+
|   1959 | Fierro Vargas, Ms.  Paola Andrea | tier - 1    |       48824.4 |
+--------+----------------------------------+-------------+---------------+
|   1960 | Cater-Cyker, Mr.  Zach           | tier - 1    |       46718.2 |
+--------+----------------------------------+-------------+---------------+
|   1961 | Rios, Ms.  Leilani M.            | tier - 3    |       48517.6 |
+--------+----------------------------------+-------------+---------------+
|   1962 | Baker, Mr.  Russell B.           | tier - 3    |       52590.8 |
+--------+----------------------------------+-------------+---------------+
|   1963 | Moran, Mr.  Patrick R.           | tier - 2    |       48970.2 |
+--------+----------------------------------+-------------+---------------+
|   1964 | Boudalia, Mr.  Said Sr.          | tier - 3    |       47496.5 |
+--------+----------------------------------+-------------+---------------+
|   1965 | Franz, Mr.  David                | tier - 2    |       48675.5 |
+--------+----------------------------------+-------------+---------------+
|   1966 | O'Grady, Mr.  Thomas J.          | tier - 2    |       43921.2 |
+--------+----------------------------------+-------------+---------------+
|   1967 | Peters, Ms.  Roseann             | tier - 3    |       44423.8 |
+--------+----------------------------------+-------------+---------------+

#### Task 14: Top 3 Customers with Highest Average Yearly Charges
This task focuses on identifying the top 3 customers with the highest average yearly hospital charges over the years they have been hospitalized. By computing each customer’s average annual charges from the hospitalization_details table and joining this information with their names, we highlight individuals with consistently high healthcare expenditures.

In [93]:
f(""" 
   with yearlycharges as ( select customer_id, avg(charges) as avg_yearly_charges
                       from hospitalisation_details group by customer_id, year)
   select n.name,  yc.avg_yearly_charges
   from names as n
   inner join yearlycharges as yc on n.customer_id = yc.customer_id
   order by avg_yearly_charges desc 
   limit 3;
   """)

+------------------------+----------------------+
| name                   |   avg_yearly_charges |
+========================+======================+
| Hawks, Ms.  Kelly      |              63770.4 |
+------------------------+----------------------+
| Lehner, Mr.  Matthew D |              62592.9 |
+------------------------+----------------------+
| Lu, Mr.  Phil          |              60021.4 |
+------------------------+----------------------+

#### Task 15: Ranking Customers by Total Charges
This task ranks customers by their total hospitalization charges over the years in descending order. By aggregating charges from the hospitalization_details table for each customer and assigning a rank, we identify individuals with the highest cumulative healthcare expenditures.

In [94]:
f(""" 
  select n.name, sum(hd.charges) as total_charges, 
  rank() over (order by sum(hd.charges) desc) as charges_rank
  from hospitalisation_details as hd
  join names as n on hd.customer_id = n.customer_id
  group by n.name
  order by charges_rank asc
  limit 10;
  """)

+------------------------+-----------------+----------------+
| name                   |   total_charges |   charges_rank |
+========================+=================+================+
| Hawks, Ms.  Kelly      |         63770.4 |              1 |
+------------------------+-----------------+----------------+
| Lehner, Mr.  Matthew D |         62592.9 |              2 |
+------------------------+-----------------+----------------+
| Lu, Mr.  Phil          |         60021.4 |              3 |
+------------------------+-----------------+----------------+
| Osborne, Ms.  Kelsey   |         58571.1 |              4 |
+------------------------+-----------------+----------------+
| Kadala, Ms.  Kristyn   |         55135.4 |              5 |
+------------------------+-----------------+----------------+
| Baker, Mr.  Russell B. |         52590.8 |              6 |
+------------------------+-----------------+----------------+
| Macpherson, Mr.  Scott |         51194.6 |              7 |
+------------------------+-----------------+----------------+
| Hallman, Mr.  Stephen  |         49577.7 |              8 |
+------------------------+-----------------+----------------+
| Moran, Mr.  Patrick R. |         48970.2 |              9 |
+------------------------+-----------------+----------------+
| Benner, Ms.  Brooke N. |         48885.1 |             10 |
+------------------------+-----------------+----------------+

#### Task 16: Identifying Peak Year for Hospitalizations
This task is essential for identifying the year with the highest number of hospitalizations. By counting hospitalizations per year in the hospitalization_details dataset, we determine the peak year of healthcare demand. This insight enables healthcare institutions to better anticipate surges in patient volume, optimize staffing and infrastructure, and strategically allocate resources to meet future demand more effectively.

In [95]:
f("""
with yearlyhospi as ( select year, count(*) as num_hospitalisations
                      from hospitalisation_details group by year)
select year, num_hospitalisations
from yearlyhospi
where num_hospitalisations = (select max(num_hospitalisations) from yearlyhospi);
""")

+--------+------------------------+
|   year |   num_hospitalisations |
+========+========================+
|   2004 |                    100 |
+--------+------------------------+

In [96]:
cursor.close()
conn.close()